.slick-current {
  img {
    width: 200px;
    height: 200px;
  }
  .MuiTypography-root.slide-content-name {
    font-size: 19px;
  }
  .MuiTypography-root.slide-content-qualification {
    font-size: 18px;
  }
  .MuiTypography-root.slide-content-special {
    font-size: 15px;
  }
  .MuiBox-root.slide-content-wrapper {
    display: none;
  }
}
.slick-track {
  display: flex;
  //   justify-content: center;
  //   align-items: center;
}
.MuiTypography-root.slide-content-name {
  font-size: 14px;
  font-weight: 600;
}
.MuiTypography-root.slide-content-qualification {
  font-size: 12px;
  font-weight: 600;
}
.MuiTypography-root.slide-content-special {
  font-size: 12px;
  color: #a6acbc;
}
.MuiBox-root.slide-content-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.3);
}
