.dropdown-container {
  display: block;
  position: relative;
  height: 150%;
  .link {
    word-break: keep-all;
  }
  .dropdown {
    position: absolute;
    display: none;
    top: 35px;
    z-index: 10;
    box-shadow: 0px 0px 10px grey;
    border-radius: 5px;
    span {
      position: absolute;
      width: 25px;
      height: 25px;
      right: 50%;
      top: -3px;
      transform: rotate(45deg);
      background: white;
      z-index: -1;
    }
    ul {
      padding: 0;
      display: block;
      background: white;
      border-radius: 5px;
      list-style: none;
      li {
        color: black;
        padding: 0;
        padding: 10px;
        &:hover {
          background: grey;
        }
      }
    }
  }
  &:hover .dropdown {
    display: flex;
  }
}
